body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 85px;
    
}

a, .hero-sec {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.hero-sec {padding: 0px 50px 12px 0px;}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    
}
.top-header {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 69px;
}
.logo {
    font-size: 24px;
    padding: 10px;

}


.bottom-header {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 24px;
}
.header-container {
    width: 435px;
}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    padding: 0px 50px 12px 0px;
}
button {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
}
.header-img {
    height: 210px;
    align-self: center;
    
}

/* section one css */
.section-one {
    background-color: white;
    color: #4d4e5c;

}
.s1-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 36px 0px 36px;
}
.s1-container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
.s1-img {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 12px;
    border-color: #3882F6;
    border-width: medium;
}
.s1-info {
    max-width: 150px;
}